* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #444;
  font-family: "Roboto", sans-serif;
  padding: 10px;
}

.container {
  max-width: 768px;
  height: 100vh;
  margin: auto;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 1px 1px 15px 7px rgba(0, 0, 0, 0.15);
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  padding: 10px 15px;
}


.quote-logo-conainter:any-link {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  text-decoration: none;
  color:#444;
}

.quote-logo {
  width: 50px;
  margin-right: 10px;
}
.quote-logo-text {
  font-size: 30px;
  font-weight: 700;
}

.quote-nav-icons {
  width: 40px;
}

.quote-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.quote-list-items a {
  display: block;
  padding: 0 10px;
}

.quote-add  {
    cursor: not-allowed;
}

main {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5fr 1fr;
  background-color: rgb(236, 236, 236);
}

.quote-body {
  color: #fff;
  text-align: center;
}

.quote-navigation {
  z-index: 99;
  padding: 10px;
}

.quote-navigation .left,
.quote-navigation .right {
  width: 40px;
}

/* ################# utility class ############## */

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.justify-space {
  justify-content: space-around;
}

fx-c {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.fx-wrap {
  flex-wrap: wrap;
}
.scale {
  transition: all 0.3s ease;
  cursor: pointer;
}
.scale:hover {
  transform: scale(1.1);
}
.scale:active {
  transform: translateY(1px);
}


/* ##################### style for About start */

.main-about {
    display:grid;
    grid-template-columns: 1fr 1fr;
    padding:20px
}

@media only screen and (max-width: 740px) {
    .main-about {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
  }

.ab-photo {
    width:300px;
    height: 303px;
    border-radius:50%;
    border:10px solid rgba(221, 221, 221, 0.418);
}

.ab-whyte {
    width:100%;
    height: 100%;
    border-radius:50%
}
.name-fil {
    color: rgb(230, 25, 76);
}

.ab-list {
    list-style: none;
}
.social-icons {
    width:50px;
}
.social-link {
    display: block;
    padding:10px;
    text-decoration: none;
}
.ab-text {
    text-align:center;
}
/* ##################### style for About end */

  
/* ############ backgroun color for the quote main-body ##############3 */.bg-pink {
  background-color: rgb(230, 25, 76);
}
.bg-green {
  background-color: rgb(27, 218, 129);
}
.bg-blue {
  background-color: rgb(27, 110, 218);
}
.bg-dark {
  background-color: #333;
}
.bg-light {
  background-color: rgrgb(230, 230, 230;
}
.bg-orange {
  background-color: rgb(230, 175, 26);
}

